extends layout

block content 
  h1 #{title}
  block postNewQ
    .row 
      .col-xs-8
        .panel
          .panel-title
            h3 Post New Question
          .panel-body
            form.form-horizontal(method="POST", action="/questions")
              .control-group
                .controls
                  .input-append
                    input.input-xlarge(type="text",name="text",maxlength="160")
              button.btn Ask
  each q in questions
    .row
      .col-xs-8
        .panel
          .panel-body
            h3= q.text
            block q_approval 
              span 
                a.btn.btn-success(type="submit", formaction="/question/#{q._id}/approve") Approve
                a.btn.btn-danger(type="submit", formaction="/question/#{q._id}/disapprove") Reject

            ul
              block postNewA
                li.newAnswer
                  h5 Answers
                  form(method="POST", action="/question/#{q._id}/answers")
                    textarea(name="text",maxlength="160") 
                    button.btn Answer
              each a in q.answers
                li.answer 
                  p= a.text
                  block a_approval 
                    span 
                      a.btn.btn-success(href="/question/#{q._id}/answers/#{a._id}/approve") Approve
                      a.btn.btn-danger(href="/question/#{q._id}/answers/#{a._id}/disapprove") Reject



