extends layout

block content 
  .page-header
    h1 #{title}
  block postNewQ
    // .row 
      .col-xs-8
        .panel
          .panel-title
            h3 Post New Question
          .panel-body
            form.form-horizontal(method="POST", action="/questions")
              .control-group
                .controls
                  .input-append
                    input.input-xlarge(type="text",name="text",maxlength="160")
                    button.btn Ask
  each q in questions
    .panel
      .panel-body
        .row
          block q_approval 
           .col-xs-2
              a.btn.btn-success(href="/question/#{q._id}/approve") Approve
              a.btn.btn-danger(href="/question/#{q._id}/disapprove") Reject
          .col-xs-6
            p.question= q.text
        
        .row
          .col-xs-12
            h2 Answers
            .row 
              block postNewA
                .col-xs-2
                  h5 New Answer:
                .col-xs-10
                  .newAnswer
                    form.form-inline(role="form", method="POST", action="/question/#{q._id}/answers")
                      .form-group
                        input.form-control(type="text",name="text",maxlength="160") 
                      button.btn.btn-default(type="submit") Answer
            .row
              .col-xs-12
                if q.answers.length
                  each a in q.answers
                    .row  
                      .col-xs-3
                        span 
                          a.btn(href="/question/#{q._id}/answer/#{a._id}/upvote")
                            i.fa.fa-thumbs-up
                          block a_approval 
                            a.btn.btn-success(href="/question/#{q._id}/answer/#{a._id}/finalize") 
                              | Finalize
                            a.btn.btn-danger(href="/question/#{q._id}/answer/#{a._id}/disapprove") 
                              | Reject
                      .col-xs-6
                          p.answer= a.text
                else
                  h4 No answers posted yet!

